body {
    text-align: justify;
    font-family: Helvetica, Arial;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1em;
}

p, ul {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#centered {
    text-align: center;
}
